body {
    margin-top: 80px;
    background-image: url('img/b.jpg');
    background-repeat: repeat; /* Adjust repeat properties according to your image */
    background-color: #161515; /* Fallback color if the image is not available */
}

.tiny {
    font-size: x-small;
}
.team-cards .event-card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.team-cards .event-card.visible {
    opacity: 1;
    transform: translateY(0);
}

/* styles.css */

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
}